body {
  margin: auto;
  width: 70%;
  text-align: center;
}

h1, h2, h3 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin-top: 1.5em;
}

h1 {
font-size: 32px;

}

table, th, td {
  border:1px solid black;
}

figcaption{
  font-style: italic;
}

figure{
  float: right;
}
